<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480274957023-p2np7o0ki6natq4ctqfh027fbk9qf814.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480274957023-p2np7o0ki6natq4ctqfh027fbk9qf814</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480274957023-agr3qpnvurupulbnel1mfim7nuhql62t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArNWHOWB54jSJKVViy3WWVTDV-jcAAnLU</string>
	<key>GCM_SENDER_ID</key>
	<string>480274957023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs.flutter.ltd</string>
	<key>PROJECT_ID</key>
	<string>cshopping-4063a</string>
	<key>STORAGE_BUCKET</key>
	<string>cshopping-4063a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480274957023:ios:887822c123d71aef97df6a</string>
</dict>
</plist>